<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Species Classification Predictor </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="body" >
    <div class="login">
	<h1>Predict Iris Species</h1>
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="sepal_length" placeholder="Sepal Length (cm)" required="required" />
        <input type="text" name="sepal_width" placeholder="Sepal Width (cm)" required="required" />
		<input type="text" name="petal_length" placeholder="Petal Length (cm)" required="required" />
		<input type="text" name="petal_width" placeholder="Petal Width (cm)" required="required" />

        <button type="submit" class="btn">Predict</button>
    </form>
   <br>
   <br>
    <div>
        <h2>{{ prediction_text }}</h2>
    </div>
 </div>
<div class="demo">
    <div>
        <img src="../static/images/backgroud.jpg" width="400" height="400">
    </div>
</div>
</body>
</html>